<h1>Shopping Cart</h1>

<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= image_tag(order_item.product.photo.thumb.url) %></td>
        <td><%= order_item.product.name %></td>
        <td><%= number_to_currency(order_item.product.price) %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-right">Total:</td>
      <td><%= number_to_currency(@order.total) %></td>
    </tr>
  </tfoot>
</table>

<%= form_tag charges_path do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your pants"
          data-amount=<%= (@order.total * 100).to_i %>
          data-locale="auto"></script>
<% end %>