<div class="row">
  <div class="col-md-7">
    <div class="media">
      <div class="media-left">
        <%= image_tag @product.photo.thumb.url, width: "100", class: "img-border img-gray" %>
      </div>
      <div class="media-body">
        <%= image_tag @product.photo.url, class: "img-border img-responsive" %>
      </div>
    </div>
  </div>

  <div class="col-md-5">

    <h1><%= @product.name %></h1>

    <h2 class="text-success text-right"><%= number_to_currency @product.price %></h2>

    <hr>

    <blockquote class="text-muted">This is a good pair of pants.</blockquote>

    <p class="text-info">
      <strong>Ships within 2 weeks!</strong>
    </p>

    <hr>

    <p>
      <%= link_to 'Add to cart', add_to_cart_path(product_id: @product.id), method: "post", remote: true, class: "btn btn-primary btn-lg" %>
    </p>

  </div>
</div>
