<p id="notice"><%= notice %></p>


<div>
<p>
  <%= image_tag(@product.photo.thumb.url) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>


<%= link_to 'Add to cart', add_to_cart_path(product_id: @product.id), method: "post", remote: true, class: "btn btn-primary" %>

</div> 